@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{
    background-color: rgb(35, 35, 66);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 20px;
}




@keyframes like{
    
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

#likes1{
 
    width:20px;
    height:20px;
}

#likes1.active{
    
    color: #e11d48;
    fill: currentColor;
    animation: like cubic-bezier(0.15, 0.26, 0.67, 1.77) 0.25s forwards;
}
 
#likes{
 
    width:20px;
    height:20px;
}

#likes.active{
    
    color: #e11d48;
    fill: currentColor;
    animation: like cubic-bezier(0.15, 0.26, 0.67, 1.77) 0.25s forwards;
}
 
#total{ 
    position: fixed;
    width: 90%;
    height: 100vh;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color:  rgb(255, 255, 255);

}
#choose{
    width: 100%;
    align-items: center;
    justify-content: center;
     padding-top: 2px; 
   
}

#pr{
    margin-left: 3%;
    margin-top: 3%;
    width:95%;
    background-color: none;
    height: 260PX;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color:  rgb(255, 255, 255);
}
#one{
   
    margin-top: 0%;
    width:100%;
    background-color: #ffffff;
    height: 200PX;
}
model-viewer{
    width: 100%;
    height: 200px;
}
#two{
 align-items: center;
 justify-content: center;
    margin-top:10px;
    width:100%;
    height: 50PX;
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040018;
  border-radius: 10px;;
}
#dex{
    margin-left: 3%;
    margin-top: 13%;
    width:95%;
    height: 260PX;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color:  rgb(255, 255, 255);
}
#middle{
    margin-top:6%;
   font-size: 35px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#tree{
   
    margin-top: 0%;
    width:100%;
    background-color: #ffffff;
    height: 200PX;
}
#four{
 align-items: center;
 justify-content: center;
    margin-top:10px;
    width:100%;
    background-color: #040018;
    border-radius: 10px;
    height: 50PX;
    display: flex;
  justify-content: center;
  align-items: center;
}
p {
    /* Center horizontally*/
    text-align: center;
  }

#loads{
    margin-top: 5%;
    position: absolute;
    display: flex;
    align-items: center;
 margin-top: 20%;
 font-family: 'Exo', sans-serif;
}
 






  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background:rgb(35, 35, 66);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    visibility: hidden;
   z-index: -100;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}